.progressbars {
    display: flex;
    justify-content: center;
    gap: 10px;

}
.progressbar {
    width: 90px;
    height: 90px;
}


.controlButtons {
    display: flex;
justify-content: center;
    gap: 20px;
}
